body{
    background-color: violet;
}

.container{
    display: grid;
    border: solid white 1px;
    gap: 10px;
    grid-template-columns: [start] 1fr [middle] 1fr 1fr [end];
    grid-auto-rows: 100px;
}
.el1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.el2{
    grid-column: middle / end;
}
.container > div {
    font-weight: bold;
    border: 1px solid khaki;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}